.box {
	border-style: none;
	background-color: #D0D6F7;
	padding: 20px 40px 20px 40px;
}

.title-box{
	border-style: none;
	background-color: #FBAA06;
	padding: 60px 40px 60px 40px;
	font-family: 'Dancing Script', cursive; 
	font-size: 50px;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.survey-box{
	border-style: none;
	padding: 20px 40px 20px 40px;
	text-align: center;
	font-size: 20px;
}

.footer-box{
	border-style: none;
	background-color: #332509;
	padding: 20px 40px 20px 40px;
	text-align: center;
	font-size: 20px;
}

.text-shadow{
	font-size: 50px;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
{

.text-gray{
	color: gray;
}
